@import "@radix-ui/themes/styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1c1e;
  color: #fff;
}

textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #D4D4D4;
  border-radius: 8px;
  background-color: #FFF;
  outline: none;
}
textarea:focus {
  outline: 2px solid #445db2;
  border: 1px solid transparent;
}
textarea::placeholder {
  color: #757981;
}
