@import '@radix-ui/themes/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1A1C1E;
  color: #fff;
}

textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #54534D;
  border-radius: 8px;
  background-color: #0A0A0A;
  outline: none;
}
textarea:focus {
  outline: 2px solid #A35829;
  border: 1px solid transparent;
}
textarea::placeholder {
  color: #85847D;
}